@import "./base.css";

:root{
  --var1: #BF8F58;
  --var2: #8A4A0C;
  --var3: #A38468;
  --var4: #725742;
  --var5: #251716;
}

body{
  background-color: var(--var1);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  background-color: #251716;
}

a,
.green {
  text-decoration: none;
  color: var(--var1);
  transition: 0.4s;
}

